:root{
    --color-default: rgb(255, 255, 255);
    --theme-color: rgb(253,40,141);
    --color-text: rgb(255,209,117);
}

.div-option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 10rem;
    height: 5rem;
    background-color: var(--theme-color);
    border-radius: .5rem;
    z-index: 9;
}

.option-music{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--theme-color);
    color: var(--color-default);
    border: 0;
}

.option-music:hover{
    color: var(--theme-color);
    cursor: pointer;
    border: 2px solid var(--color-default);
    border-radius: .5rem;
    background-color: var(--color-default);
}


.bi-play-circle {
    margin-left: 80px;
    font-size: 28px;
    color: var(--color-default);
}

.ul-create-new-playlist{
    list-style: none;
    display: flex;
    margin-left: 50rem;
}

.bi-plus-circle-fill{
    margin-left: 80px;
    font-size: 20px;
    color: var(--color-default);
}

.bi-plus-circle-fill:hover{
    color: var(--theme-color);
    cursor: pointer;
    border: 2px solid var(--color-default);
    border-radius: .5rem;
    background-color: var(--color-default);
}

.bi-caret-right-fill:hover{
    color: var(--theme-color);
    cursor: pointer;
}

#create-new-playlist{
    margin-left: 15px;
}

.div-playlists{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto 15rem;
}

.div-playlist{
    display: flex;
    justify-content: flex-start;
    margin: 30px 15px 18px 15px;
    width: 220px;
    height: 80px;
    background: linear-gradient(90deg, rgba(255,22,170,1) 0%, rgba(255,35,175,1) 14%, rgba(255,92,197,1) 41%, rgba(253,169,90,1) 91%);
    border-radius: 15px;
}

.ul-playlist{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.bi-caret-right-fill{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: var(--color-default);
}


.playlist-name{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -22px;
    margin-left: -24px;
    color: var(--color-text);
    font-weight: bold;
}

#music-count{
    position: absolute;
    margin-left: -95px;
    margin-top: -8px;
    color: var(--color-default);
}

.music-menu{
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 30px;
    color: gray;
}

.music-menu:hover{
    cursor: pointer;
    font-size: 35px;
}

.div-modal-delete, .div-modal-playlist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 20rem;
    height: 12rem;
    color: var(--color-default);
    background-color: var(--theme-color);
    border-radius: 5px;
    z-index: 9;
}

.modal-input{
    margin: 6px auto;
}

.modal-title {
    text-align: center;
    color: var(--color-default);
}

.button-confirm{
    width: 4rem;
    height: 25px;
    margin: 18px auto;
    color: var(--color-default);
    font-weight: bold;
}

i{
color: var(--color-default);
}

.button-confirm:hover{
    color: var(--theme-color);
    cursor: pointer;
    border-radius: .5rem;
    background-color: var(--color-default);
}

.button-cancel{
    width: 4rem;
    height: 25px;
    margin: -10px auto;
    color: var(--color-default);
    font-weight: bold;
}

.button-cancel:hover{
    color: var(--theme-color);
    cursor: pointer;
    border-radius: .5rem;
    background-color: var(--color-default);
}

@media screen and (max-width: 480px) {
    .div-playlists{
        margin: auto;
    }
}

