:root{
    --color-default: rgb(255, 255, 255);
    --theme-color: rgb(253,40,141);
    --color-text: rgb(255,209,117);
}

.top-musics .ul-list-music{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 20% auto 0;
    color: var(--color-default);
}

.ul-list-music{
    gap: 20px;
}

#number-music{
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 0 20px #fff, 
    0 -10px 20px #fff,
    0 10px 20px #fff, 
    -20px 0 40px #fff,
    20px 0 40px #fff;
}

#artist{
    display: flex;
    justify-content: start;
    color: var(--color-text);
    margin-top: -20px;
}

#music-name{
    position: absolute;
    margin-top: 18px;
}

#play-music{
    font-size: 30px;
}

.div-musics-next{
    margin: -15rem auto auto 24rem;
}

.bi-pause{
    font-size: 40px;
    color: var(--color-default);
}

.bi-pause:hover{
    color: var(--theme-color);
    cursor: pointer;
    border-radius: .5rem;

}

@media screen and (max-width: 545px) {
    .top-musics .ul-list-music{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 35px auto;
    }
    .div-musics-next{
        margin: 0 auto auto 0;
    }
}