@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Zeyada&display=swap');

:root{
    --color-default: rgb(255, 255, 255);
    --theme-color: rgb(253,40,141);
    --color-text: rgb(255,209,117);
}

h2{
    color: var(--color-default);
    text-shadow: 0rem -0.3em 0em var(--theme-color), 0em -0.5em 0em var(--color-text);
    margin-left: 130px;
    font-size: 70px;
    position: absolute;
    margin-top: 4rem;
    letter-spacing: 2px;
}

#image-bottom{
    width: 100%;
    height: 550px;
    margin-top: 0;
    position: absolute;
}

.form-login{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    height: 16rem;
    color: var(--color-default);
    background-color: var(--theme-color);
    border-radius: 5px;
}

.bi-x-circle-fill{
    color: var(--color-default);
    position: absolute; 
    top: 10%; 
    left: 90%; 
    transform: translate(-50%, -50%); 
    font-size: 15px;
}

.bi-x-circle-fill:hover{
    color: var(--color-text);
    cursor: pointer;
    border-radius: .5rem;
    background-color: var(--theme-color);
}

.form-register{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 24rem;
    height: 25rem;
    color: var(--color-default);
    background-color: var(--theme-color);
    border-radius: 5px;
}

fieldset{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 20px auto 12px auto;
    border: 0;
}

legend{
    font-weight: bold;
    margin: 26px auto;
}

.input{
    margin: 6px auto;
}

.button-login{
    width: 4rem;
    height: 25px;
    margin: 15px auto;
    color: var(--color-default);
    font-weight: bold;
}

.button-login:hover{
    color: var(--theme-color);
    cursor: pointer;
    border-radius: .5rem;
    background-color: var(--color-default);
}

#gender-man, #gender-woman{
    vertical-align: middle;
    width: 15px;
    margin: auto 5px 0 5px;
}

.button-register{
    width: 5rem;
    height: 25px;
    margin: 15px auto;
    color: var(--color-default);
    font-weight: bold;
}

.button-register:hover{
    color: var(--theme-color);
    cursor: pointer;
    border-radius: .5rem;
    background-color: var(--color-default);
}

@media screen and (max-width: 1218px) {
    h2{
        margin-left: 20px;
        font-size: 50px;
    }
}

@media screen and (max-width: 685px) {
    h2{
        margin-left: 20px;
        font-size: 40px;
    }
    #login{
        margin-left: 40px;
    }
}

@media screen and (max-width: 685px) {
    h2{
        margin-left: 20px;
        font-size: 30px;
    }
}