@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Zeyada&display=swap');

:root{
    --color-default: rgb(255, 255, 255);
    --theme-color: rgb(253,40,141);
    --color-text: rgb(255,209,117);
}

.div-menu-options{
    width: 40rem;
    height: 16.5rem;
    position: absolute;
    margin-left: 80px;
    border-radius: 5px;
    background-color: var(--theme-color);
}

.div-topic{
    display: inline-block;
    width: 10rem;
    height: 6rem;
    margin: 10px 10px 15px 34px;
    border: 1px solid white;
    border-radius: 5px;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-default);
}

#icon-div{
    display: flex;
    justify-content: center;
    margin: 16px;
    font-size: 30px;
}

@media screen and (max-width: 810px) {
    .div-menu-options{
        width: 12rem;
        height: 30rem;
    }
    .div-topic{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 8rem;
        height: 4rem;
        margin: 10px 10px 15px 34px;
        border: 1px solid white;
        border-radius: 5px;
    }
    #icon-div{
        font-size: 20px;
    }
    a{
        font-size: 15px;
    }
    
}